.header {
    .wp-block-navigation__responsive-container {
        bottom: unset;
        left: unset;
    }
    @media (max-width: 947px) {
        &.header-mobile .wp-block-site-logo {
            max-width: 150px;
        }
    }
    ul.wp-block-navigation__container {
        @media (min-width:946px) and (max-width:1075px) {
            gap: 1rem;
            padding-block: 10px;
        }
    }
    @media (min-width: 600px) and (max-width: 947px) {
        .wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) .wp-block-navigation__responsive-container-close {
            display: block;
        }
    }
    &.header-mobile {
        padding-block: 0;
    }
    &.header-mobile > .kt-row-column-wrap {
        gap: 0;
    }
    .wp-block-navigation__container {
        gap: 2rem;
        & > .wp-block-navigation-item {
            padding-right: 30px;
        }
    }
    .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .has-child .wp-block-navigation__submenu-container {
        padding-right: 0;
        padding-top: 0.5rem;
    }
    .wp-block-navigation__submenu-container > .wp-block-navigation-item {
        font-size: var(--wp--preset--font-size--large) !important;
    }
    div#modal-2-content {
        border: var(--wp--preset--color--blue-lt) 2px solid;
    }
}