.post-type-song {

    p {
        margin-bottom: 15px;
        line-height: 1.1;
        font-weight: 600;
    }
    span.translation {
        color: var(--wp--preset--color--blue);
        font-style: italic;
        font-weight: 300;
    }
    .wp-block-group {
        margin-bottom: var(--global-lg-spacing);
    }

}